{% extends 'admin/change_list.html' %}

{% load myutils_filters %}
{% load admin_urls %}
{% load admin_list i18n cache %}

{% comment %}
You have to create an app that will hold all common tags/filters
that are re-usable across your entire project.
The model class itself is passed as cl.model
{% endcomment %}
{% block filters %}
    {% cache 300 admin_filters request.GET.items request.path request.user.username %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
    {% endcache %}
{% endblock %}
{% block content_title %}
    {{ block.super|to_accusative_verbose_name:cl.model }}
{% endblock %}

{% block object-tools-items %}
  <li>
    <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% else %}?{% endif %}{% if "project" in cl.params %}&amp;project={{ cl.params.project }}{% endif %}" class="addlink">
      Dodaj obiekt
    </a>
  </li> 
{% endblock %}

{% block object-changelist-filter %}
  <div id="changelist-filter" style="columns:2">
    <h2>Filtrowanie</h2>
    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
  </div>
{% endblock %}
