{% load admin_list %}
{% load i18n %}
{% load myutils_filters %}
<p class="paginator">
{% if pagination_required %}
{% for i in page_range %}
    {% paginator_number cl i %}
{% endfor %}
{% endif %}
{{ cl.result_count }} 
{% if cl.result_count == 1 %}
    obiekt
{% elif cl.result_count|modulo:10 >= 2 and cl.result_count|modulo:10  <= 4 %}
    {% if cl.result_count|modulo:100 < 12 or cl.result_count|modulo:100  > 14  %}
        obiekty
    {% else %}
        obiektów
    {% endif %}
{% else %}
    obiektów
{% endif %}
{% if show_all_url %}&nbsp;&nbsp;<a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>{% endif %}
{% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>{% endif %}
</p>