{% extends "modelszkolenie/base.html" %}

{% block content %}
<div class="text-center">
   <h1>Witamy serdecznie w panelu administracyjnym do obsługi szkoleń</h1>
   <h1>Proszę zalogować się do panelu wybierając zakładkę ADMIN w lewym górnym rogu przeglądarki</h1>
</div>
{% endblock %}